/vendor
/node_modules
/public/storage
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
.phpunit.cache
.env
.env.backup
.phpunit.result.cache